{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["vue", "airbnb"],
  "plugins": ["flow-vars", "html", "vue"],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}