<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8"/>
		<meta name="wap-font-scale" content="no" />
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>和十素养</title>
    <link rel="stylesheet" href="../../css/order/order.css">
    <link rel="stylesheet" href="../../css/jin-base.css">
    <link rel="stylesheet" href="../../css/frozen.css">
</head>
<body>
<div id="container" class="container">
	<site-add></site-add>
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/site/site-add.js"></script>
<script>
    //	地址选择
/*    $(function(){
        ;(function(){
            //选择地址后添加到这个数组
            var provinceHtml = '<ul class="province ui-list text-left ui-list-active"></ul>',
                    cityHtml = '<ul class="city ui-list text-left ui-list-active"></ul>',
                    countyHtml = '<ul class="county ui-list text-left ui-list-active"></ul>';

            //获取省份
            function getProvince(){
                layer.open({ type:2,shadeClose:false });
                $.post('/verse.php/Business/getProvinceList',function(msg){
                    console.log(msg)
                    var dataProvince = msg.info;
                    layer.closeAll();
                    layer.open({
                        shadeClose: false,
                        anim: 0,
                        content: provinceHtml,
                        style: 'width:90%;height:90%;overflow:auto;-webkit-overflow-scrolling: touch;',
                    });

                    $.each(dataProvince,function(index,obj){
                        var list = '<li province_id="'+ obj.province_id +'"><div class="ui-list-info ui-border-b">'+ obj.province_name +'</div></li>';
                        $(".province").append(list);
                    });
                    $(".province li").click(function(){
                        var name = $(this).text();
                        addressArray.push(name);
                        var pro_id = $(this).attr('province_id');
                        getCity(pro_id);
                    });
                });

            }
            $(".select-address").click(function(){
                getProvince();
                addressArray =[];
                $("#address-info").val('');
                $('.site-pl').html('');
            });

            //获取市
            function getCity(pro_id){
                layer.open({ type:2,shadeClose:false });
                $.post('/verse.php/Business/getCityList',{province_id:pro_id},function(msg){
                    var dataCity = msg.info;
                    layer.closeAll();
                    layer.open({
                        shadeClose: false,
                        anim: 0,
                        content: cityHtml,
                        style: 'width:90%;height:90%;overflow:auto;-webkit-overflow-scrolling: touch;',
                    });

                    $.each(dataCity,function(index,obj){
                        var list = '<li city_id="'+ obj.city_id +'"><div class="ui-list-info ui-border-b">'+ obj.city_name +'</div></li>';
                        $(".city").append(list);
                    });
                    $(".city li").click(function(){
                        var name = $(this).text();
                        addressArray.push(name);
                        var city_id = $(this).attr('city_id');
                        getCounty(city_id);
                    });
                });

            }
            //获取县/区
            function getCounty(city_id){
                layer.open({ type:2,shadeClose:false });
                $.post('/verse.php/Business/getCountyList',{city_id:city_id},function(msg){
                    var dataCounty = msg.info;
                    layer.closeAll();
                    layer.open({
                        shadeClose: false,
                        anim: 0,
                        content: countyHtml,
                        style: 'width:90%;height:90%;overflow:auto;-webkit-overflow-scrolling: touch;',
                    });

                    $.each(dataCounty,function(index,obj){
                        var list = '<li county_id="'+ obj.county_id +'"><div class="ui-list-info  ui-border-b">'+ obj.county_name +'</div></li>';
                        $(".county").append(list);
                    });
                    $(".county li").click(function(){
                        layer.closeAll();
                        var name = $(this).text();
                        addressArray.push(name);
                        $("#address-info").val(addressArray.join(' '));
                        $('.site').html(addressArray.join(' '))
                    });
                });
            }

        })();
    });*/
</script>
</body>
</html>