<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8"/>
		<meta name="wap-font-scale" content="no" />
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>和十素养</title>
    <link rel="stylesheet" href="../../css/order/order.css">
    <link rel="stylesheet" href="../../css/jin-base.css">
    <link rel="stylesheet" href="../../css/frozen.css">
    <link rel="stylesheet" href="../../css/swiper-3.3.0.min.css"/>
</head>
<body>
<div id="container" class="container" v-cloak>
     <div class="ui-tab goods-List" >
        <ul class="ui-tab-nav ui-border-b font14" v-if="$route.path == '/' ||   $route.path == '/order/notPayment' ||  $route.path == '/order/yetPayment'  ||  $route.path == '/order'" >
            <li v-for='item in data'  :class="{'current': item.tabText == $route.path}" @click="toggleTabs(item.tabText)">
                {{item.name}}
            </li>
        </ul>
         <div v-else=""></div>
    </div>
    <div style="overflow: auto; height: calc(100vh - 45px);">
        <!--<keep-alive>-->
            <router-view></router-view>
        <!--</keep-alive>-->
    </div>
</div>
<script>
</script>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/vue-router.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/lib/vue-infinite-scroll.js"></script>
<script src="../../js/lib/jsencrypt.js"></script>
<script src="../../js/lib/fastclick.js"></script>
<script src="../../js/lib/swiper-3.3.0.min.js"></script>
<script src="../../js/order/order.js"></script>
</body>
</html>