<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8"/>
		<meta name="wap-font-scale" content="no" />
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>和十素养</title>
    <link rel="stylesheet" href="../../css/order/order.css">
    <link rel="stylesheet" href="../../css/jin-base.css">
    <link rel="stylesheet" href="../../css/frozen.css">
</head>
<body>
<div id="container" class="container">
	<order-goods-logistics></order-goods-logistics>
    <!--收货地址-->
    <div class="address-border">
        <ul class="ui-list ">
            <li class="">
                <div class="ui-list-info">
                    <h4 class="padding-b-15 ui-nowrap font14">收货地址：</h4>
                    <p class="padding-r-15 font12 line-h-12">广西壮族自治区南宁市青秀区金湖路金源CB</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="good">
        <ul class="ui-list k-list">
            <li class="ui-border-b">
                <div class="give-list-thumb" style="background-image: url( http://placeholder.qiniudn.com/190x284);"></div>
                <!--产品描述、类型-->
                <div class="ui-list-info">
                    <div class="line-clamp font12 color-9b">陈大粒</div>
                </div>
                <!--数量-->
                <div class="text-right font12">
                    共2件商品 合计：￥100.00
                </div>
            </li>
        </ul>
    </div>
    <ul class="ui-list k-list margin-b-10">
        <li class="ui-border-b">
            <div class="ui-list-thumb">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <p class="ui-list-info padding-tb-0 ui-nowrap-multi font14 line-h-14">
                《Tiny World》青年艺术家谢雷铭限量复制画…2016 08-11 22:32青年艺术家谢雷铭限量复制画…2016 08-11 22:32青年艺术家谢雷铭限量复制画…2016 08-11 22:32
            </p>
            <div class="text-right">
                <div class="font12 ui-txt-warning">￥100.00</div>
                <div class="font10 color-9b">x10</div>
            </div>
        </li>
        <li class="ui-border-b">
            <div class="ui-list-thumb">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <p class="ui-list-info padding-tb-0 ui-nowrap-multi font14 line-h-14">
                《Tiny World》青年艺术家谢雷铭限量复制画…2016 08-11 22:32青年艺术家谢雷铭限量复制画…2016 08-11 22:32青年艺术家谢雷铭限量复制画…2016 08-11 22:32
            </p>
            <div class="text-right">
                <div class="font12 ui-txt-warning">￥100.00</div>
                <div class="font10 color-9b">x10</div>
            </div>
        </li>
    </ul>
    <ul class="ui-list ui-list-pure margin-b-20 ui-border-tb">
        <li class="font12 color-9b line-h-12">
            <div class="margin-b-5">订单编号：<span>233202324504582</span></div>
            <div class="margin-b-5">创建时间：<span>2016-09-21 17:3</span></div>
            <div>发货时间：<span>2016-09-21 17:3</span></div>
        </li>
    </ul>
    <loading v-if="loadingShow"></loading>
</div>
<script>
</script>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/order/order-goods-logistics.js"></script>
</body>
</html>