<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="ISUX"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>我</title>
    <link rel="stylesheet" href="../../css/weui.css"/>
    <link rel="stylesheet" href="../../css/frozen.css">
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/connection/connection.css">
   <link rel="stylesheet" href="../../css/my/index.css"/>
</head>

<body>

<div class="container" id="container" v-cloak>
    <!--<keep-alive>-->
        <router-view></router-view>
    <!--</keep-alive>-->
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/lib/vue-router.js"></script>
<script src="../../js/lib/vue-infinite-scroll.js"></script>
<script src="../../js/lib/jsencrypt.js"></script>
<script src="../../js/lib/fastclick.js"></script>
<script src="../../js/my/index.js"></script>
</body>

</html>